#main{
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 30vh;
}
#main img{
  width: 800px;
}

@media all and (max-width: 700px){
  #main img{
    margin-top: 10vh;
    width: 400px;
  }
}

@media all and (max-width: 300px){
  #main img{
    margin-top: 13vh;
    width: 250px;
  }
}
