@font-face {
    font-family: 'Panton'; /*a name to be used later*/
    src: url('./fonts/Panton-ExtraBold.ttf')
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#atentie{
    display: flex;
    align-items: center;

    background-color: rgba(124, 124, 124, 0.2);
    padding-left: 3vh;
    padding-top: 5px;
    padding-bottom: 1px;
    border-left: 2px solid;
}
#atentie p{
    display: inline-block;
    margin: 0;
}
#atentie-p{
    display: flex;
    flex-direction: column;
}
#atentie-svg{
    width: 4em;
    margin-right: 2vh;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(329deg) brightness(103%) contrast(101%);
    mask: url(./svg/info-circle-fill.svg) no-repeat center;
}

#avertizare{
    display: flex;
    align-items: center;

    background-color: rgba(151, 21, 21, 0.2);
    padding-left: 3vh;
    padding-top: 5px;
    padding-bottom: 1px;
    border-left: 2px solid rgba(217, 69, 69, 0.8);
}
#avertizare p{
    display: inline-block;
    margin: 0;
}
#avertizare-p{
    display: flex;
    flex-direction: column;
}
#blockquote-svg{
    width: 4em;
    margin-right: 2vh;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(329deg) brightness(103%) contrast(101%);
    mask: url(./svg/cone-striped.svg) no-repeat center;
}



a{
    text-decoration: none;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-grid{
    display: flex;
    flex-direction: row-reverse;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body{
    /*background-color: #f4f4f4; */

    background-image: linear-gradient(
        to bottom,
        rgb(0 0 0 / 70%),
        rgb(0 0 0 / 70%)
      ), url("./imagini/fundal.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}

/*              HEADER             */
/*---------------------------------*/
header{
    display: flex;
    

    padding-left: 20vh;
    padding-top: 1vh;
    padding-bottom: 1vh;

    background: linear-gradient(222.75deg, rgba(76, 76, 76, 0.5) 2.79%, rgba(0, 0, 0, 0.5) 96.92%);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);

    margin-bottom: 2vh;
}
header h2{
    color: white;
}




/*              DOCKER             */
/*---------------------------------*/
.docker{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 5px;

    margin-bottom: 15px;
}

.docker h1{
    text-align: center;
    font-size: 32px;

    color: black;

    margin: 0;
    pad: 0;
}






/*              CONTENT             */
/*---------------------------------*/

.body-content{
    display: flex;
    justify-content: space-between;
    gap: 50px;

    border-radius: 15px;

    margin: 0;

    padding: 0;

    margin-left: 25vh;
    margin-right: 15vh;

    background: linear-gradient(222.75deg, rgba(76, 76, 76, 0.5) 2.79%, rgba(0, 0, 0, 0.5) 96.92%);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);

    border-style: solid;
    border-top-color: rgb(255, 255, 254, 40%);
    border-bottom-color: rgb(15, 15, 15, 40%);;
    border-left: rgb(0 0 0 / 0%);
    border-right: rgb(0 0 0 / 0%);

    padding: 25px;
}

.content{
    height: auto;
    margin: 0;
    pad: 0;

    display: flex;
    flex-direction: column;
}

.page{
    color: white;
}

.card{
    margin-top: 3vh;
    --bs-card-border-width: none;
}


.card-body h2{
    font-family: 'Panton';
}
.card-body p{
    margin-bottom: 1rem;
}
.card img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    overflow: hidden;
}

.content-cards{
    display: flex;
    flex-direction: row;
    gap: 3vh;
}







/*              L-CONTENT             */
/*---------------------------------*/
.lower{
    display: flex;
}
.lower-content{
    display: flex;
    gap: 50px;

    margin-top: 2vh;
}

.lower-content a{
    text-decoration: none;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box p{
    color: white;

    font-family: 'PantonExtraBold';
    text-align: center;
    font-size: 30px;
    margin: 0;
}
.box {
    display: flex;

    width: 25vh;
    height: 25vh;

    /* Rectangle 1 */

    box-sizing: border-box;

    border-style: solid;
    border-top-color: rgb(255, 255, 254, 40%);
    border-bottom-color: rgb(15, 15, 15, 40%);;
    border-left: rgb(0 0 0 / 0%);
    border-right: rgb(0 0 0 / 0%);

    width: 159px;
    height: 159px;

    background: linear-gradient(222.75deg, rgba(76, 76, 76, 0.5) 2.79%, rgba(0, 0, 0, 0.5) 96.92%);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 21px;
}




.main-content{
    width: 110vh;
}

.info-content{
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;

    flex-direction: column;

    width: 50vh;

    display: flex;
    align-items: center;
}

.cuprins{
    display: flex;
    height: auto;

    border-width: 1px;
    border-style: solid;
    padding: 5px;

    flex-direction: column;

    margin-bottom: 25px;
    width: 15%;
}
.cuprins ol{
    padding: 0;
    margin: 0;
    margin-left: 50px;
}
.cuprins p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-bottom: 5px;
}
.cuprins li{
    margin: 0;
    padding: 0;
}



p{
    margin: 0;
    pad: 0;
    font-size: 22px;
}

h1{
    font-size: 32px;

    margin: 0;
    pad: 0;
}

h2{
    margin: 0;
    pad: 0;
}

.info{
    display: flex;
    gap: 5px;
    flex-direction: column;
}






