:root{
  --background-color: #1A1A1A;
  --font-color: #FFFFFF;
  --font-color-secondary: #D6D6D6;
  --red: #A4373A;
}

p{
  margin: 0;
}

footer{
  display: flex;
  flex-direction: row;
  background-color: #2B2723;
  width: 100%;
  gap: 4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: var(--font-color);
  justify-content: center;
}
footer > h3{
  font-size: 25px;
}
footer > h4{
  font-size: 20px;
}

.footer-facebook{
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;
}
.footer-facebook > img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.footer-wrapper-1{
  width: 180px;
}

@media all and (max-width: 800px){
  footer{
    gap: 2vh;
  }
}

@media all and (max-width: 570px){
  footer{
    flex-direction: column;
  }
}