:root{
  --background-color: #1A1A1A;
  --font-color: #FFFFFF;
  --font-color-secondary: #D6D6D6;
  --red: #A4373A;
}

.informatii{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  align-items: center;
}
.informatii > h3{
  width: 60rem;
  color: var(--font-color);
  font-weight: normal;
}

@media all and (max-width: 1030px){
  .informatii > h3{
    width: 45rem;
  }
}

@media all and (max-width: 550px){
  .informatii{
    flex-direction: column;
  }
  .informatii > h3{
    width: 30rem;
  }
  .informatii > img{
    width: 80px;
  }
}

@media all and (max-width: 450px){
  .informatii > h3{
    width: 18rem;
    font-size: 15px;
  }
}