body{
    /*background-color: #f4f4f4; */

    background-image: linear-gradient(
        to bottom,
        rgb(0 0 0 / 70%),
        rgb(0 0 0 / 70%)
      ), url("../../imagini/fundal-orange.png");

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}

*{
  color: white;
}

.info-content{
  width: 30rem;
}

.cuprins{
  width: 15%;
}