* {
    color: white;
}

p {
    margin: 0;
    padding: 0;
}

#img-palat img {
    width: 600px;
}

#istoric-buba img {
    width: 500px;
}

#skibidi-david img {
    width: 400px;
}

#filmulet,
#skibidi-david,
#istoric-buba,
#img-palat,
.img-david-ip,
.img-david-mirage {
    display: flex;
    flex-direction: column;

    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

    width: fit-content;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;

    background-color: #f4f4f4;
}

#filmulet em,
#skibidi-david em,
#istoric-buba em,
#img-palat em,
.img-david-ip em,
.img-david-mirage em {
    color: black;
}

#filmulet p,
#skibidi-david p,
.img-david-mirage p,
.img-david-ip p,
#istoric-buba p{
    margin: 0;
}

body {
    /*background-color: #f4f4f4; */

    background-image: linear-gradient(to bottom,
            rgb(0 0 0 / 70%),
            rgb(0 0 0 / 70%)), url("../../imagini/fundal3.png");

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.cuprins {
    width: 20%;
}

.info-content {
    width: fit-content;
}

.img-david-ip img {
    width: 250px;
}

.img-david-mirage img {
    width: 500px;
}