body {
    /*background-color: #f4f4f4; */

    background-image: linear-gradient(to bottom,
            rgb(0 0 0 / 70%),
            rgb(0 0 0 / 70%)), url("../../imagini/fundal-feno.png");

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

*{
    color: white;
}


.info-img img{
    width: 20vh;
}
#skype1 img{
    width: 80vh;
}
#discord1 img{
    width: 50vh;
}